*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background{
  width: 420px;
  height: 510px;
  position: absolute;
  background-color: #1705a0;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}

.background .shape{
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child{
  background: linear-gradient(
      #004cff,
      #0099ff
  );
  left: -100px;
  top: -100px;
}
.shape:last-child{
  background: linear-gradient(
      to right,
      #ff2a00,
      #ffbb00
  );
  right: -100px;
  bottom: -100px;
}

form{
  height: 510px;
  width: 390px;
  background-color: rgba(255, 255, 255, 0.250);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(95, 74, 255, 0.425);
  padding: 50px 35px;
}

form *{
  font-family: 'Poppins',sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label{
  display: block;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
}

input{
  display: block;
  height: 50px;
  width: 95%;
  background-color: rgba(255, 251, 251, 0.111);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 300;
}

::placeholder{
  color: #e5e5e5;
}

button{
  align-self: center;
  margin-top: 30px;
  margin-left: 25%;
  width:200px;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 40px;
  cursor: pointer;
}

.form--marketing{
  display: flex;
  align-items: center;
}

input#form-mark{
  width: 20%;
  margin-left: 10px;
}

div.form--marketing > label{
  vertical-align: middle;
}

input[type="checkbox"]{
  width: 20px;
  height: 20px;
  position: relative;
  top: 9px;
}
